bin/
lib/
doc/
target/archive-tmp
target/classes
target/generated-sources
target/maven-archiver
target/maven-status
target/test-classes
target/javadoc-bundle-options
target/maven-javadoc-plugin-stale-data.txt
target/apidocs
.vscode/
src/main/resources/data/saves
target/